jazmin.setLogLevel("INFO");
jazmin.setLogFile("./log/"+jazmin.getServerName()+".log",true);
//
messageServer=new IMMessageServer();
messageServer.setPort($instance.port);
jazmin.addServer(messageServer);
//
var rpcDriver=new JazminRpcDriver();
#foreach($i in $instances)
#if ($i.appId == 'MainDataSystem')
rpcDriver.addRemoteServer("MainData","$i.id","$i.machine.publicHost",$i.port);
rpcDriver.subscribe("MainData", "MainData"+jazmin.getServerName());
#end
#end
jazmin.addDriver(rpcDriver);
//
consoleServer=new ConsoleServer();
#set($monitorPort = $instance.port +10000)
consoleServer.setPort($monitorPort);
jazmin.addServer(consoleServer);
//------------------------------------------------------------------------------
var targetApp="./instance/$instance.id/CdagSystem.jaz"
jazmin.copyFile("http://10.44.218.35:7001/srv/deploy/pkg/"+jazmin.getServerName(),targetApp)
jazmin.loadApplication(targetApp);
