jazmin.setLogLevel("ALL");
jazmin.setLogFile("./log/"+jazmin.getServerName()+".log",true);
//
jazmin.setEnv("ftp.root.dir","/tmp/ftp/");
//
var ftpServer=new FtpServer();
ftpServer.setPort($instance.port);
jazmin.addServer(ftpServer);
//
var rpcDriver=new JazminRpcDriver();
#foreach($i in $instances)
#if ($i.app == 'MainDataSystem')
rpcDriver.addRemoteServer("MainData","$i.id","$i.machine.publicHost",$i.port);
#end
#end
jazmin.addDriver(rpcDriver);
//
consoleServer=new ConsoleServer();
#set($monitorPort = $instance.port +10000)
consoleServer.setPort($monitorPort);
jazmin.addServer(consoleServer);
//------------------------------------------------------------------------------
var targetApp="./instance/$instance.id/FTPSystem.jaz"
jazmin.copyFile("http://10.44.218.35:7001/srv/deploy/pkg/"+jazmin.getServerName(),targetApp)
jazmin.loadApplication(targetApp);
