jazmin.setLogLevel("ALL");
jazmin.setLogFile("./log/"+jazmin.getServerName()+".log",true);
//rpc
#foreach($i in $instances)
#if ($i.appId == 'MainDataSystemDB')
var db=new C3p0ConnectionDriver();
db.setUser('$i.user');
db.setPassword('$i.password');
db.setUrl("jdbc:mysql://$i.machine.privateHost:$i.port/db_inovance_system?useUnicode=true&characterEncoding=utf8");
db.setDriverClass("com.mysql.jdbc.Driver");
jazmin.addDriver(db);
#end
#end
//memcached
var memcached=new MemcachedDriver();
#foreach($i in $instances)
#if ($i.appId == 'MainDataMemcached')
memcached.addServerAddr("$i.machine.privateHost",$i.port);
#end
#end
jazmin.addDriver(memcached);
//
rpcServer=new RpcServer();
rpcServer.setPort($instance.port);
jazmin.addServer(rpcServer);
//
consoleServer=new ConsoleServer();
#set($monitorPort = $instance.port +10000)
consoleServer.setPort($monitorPort);
jazmin.addServer(consoleServer);
//------------------------------------------------------------------------------
var targetApp="./instance/$instance.id/MainDataSystem.jaz"
jazmin.copyFile("http://10.44.218.35:7001/srv/deploy/pkg/"+jazmin.getServerName(),targetApp)
jazmin.loadApplication(targetApp);
